{% extends 'base.html' %}

{% block title %}Detalles del Socio{% endblock %}

{% block extra_head %}
<style>
    body {
        background-color: #312A34;
    }

    /* Estilos específicos para detalles_socio.html */
    .socio-details {
        margin: 20px;
    }

    .section-title {
        color: #FFF;
        background-color: #2196F3;
        padding: 8px;
        margin-bottom: 10px;
    }

    .info-list {
        list-style-type: none;
        padding: 0;
    }

    .info-list li {
        margin-bottom: 8px;
    }

    .action-buttons {
        margin-top: 20px;
    }

    .action-buttons button {
        margin-right: 10px;
    }



    /*ojo*/
    h4 {
        font-size: 16px;
        margin: 0;
    }

    .flex {
        display: flex;
    }

    .padding {
        padding: 5px;
        padding-top: 10px;
    }

    .text-center {
        text-align: center;
    }

    .conti {
        margin: 0 auto;
        max-width: 1040px;
        margin-top: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 60px;
        gap: 6px 6px;
        grid-auto-flow: row;
        grid-template-areas:
            "info-basica info-basica info-basica info-basica jugados jugados dirigidos dirigidos"
            "winrate winrate mensualidades mensualidades mensualidades mensualidades mensualidades mensualidades"
            "saldo saldo mensualidades mensualidades mensualidades mensualidades mensualidades mensualidades"
            "botones botones botones botones botones botones botones botones";
        height: 600px;
    }

    .info-basica {
        grid-area: info-basica;
        background-color: #EBEBEB;
        justify-content: space-around;
        align-items: center;

    }

    .circulo {
        background-color: grey;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .jugados {
        grid-area: jugados;
        background-color: #EBEBEB;
        padding-left: 15px;
    }

    .dirigidos {
        grid-area: dirigidos;
        background-color: #EBEBEB;
        padding-left: 15px;
    }

    .winrate {
        grid-area: winrate;
        background-color: #EBEBEB;
    }

    .cuadrado {
        background-color: grey;
        width: 190px;
        height: 110px;
        margin: 0 auto;
        border-radius: 10px;
        margin-top: 5px;
    }

    .saldo {
        grid-area: saldo;
        background-color: #EBEBEB;
    }

    .saldo p {
        font-size: 30px;
        margin-top: 40px;
    }

    .mensualidades {
        grid-area: mensualidades;
        background-color: #EBEBEB;
        padding-left: 15px;
    }

    .botones {
        grid-area: botones;
        background-color: #EBEBEB;
        align-items: center;
        padding-left: 20px;
    }

    .botones a {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block page_title %}Detalles del Socio{% endblock %}

{% block content %}
<!-- modificado -->


<div class="conti">
    <!-- Información Básica -->
    <div class="info-basica flex padding">
        <div class="left">
            <h4 class="">Información Básica</h4>
            <ul class="">
                <li><strong>Nombre:</strong> {{ socio.nombre }}</li>
                <li><strong>Apellido:</strong> {{ socio.apellido }}</li>
                <li><strong>DNI:</strong> {{ socio.dni }}</li>
                <li><strong>Fecha de Nacimiento:</strong> {{ socio.fecha_nacimiento }}</li>
            </ul>
        </div>
        <div class="right ">
            <div class="circulo"></div>
        </div>

    </div>
    <!-- Sistemas Jugados -->
    <div class="jugados padding">
        <h4 class="">Sistemas Jugados</h4>
        <ul class="">
            {% for sistema in sistemas_jugados %}
            <li>{{ sistema }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- Sistemas Dirigidos -->
    <div class="dirigidos padding">
        <h4 class="">Sistemas Dirigidos</h4>
        <ul class="">
            {% for sistema in sistemas_dirigidos %}
            <li>{{ sistema }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="winrate padding text-center">
        <h4>Winrate</h4>
        <div class="cuadrado"></div>
    </div>
    <div class="saldo padding">
        <h4 class="text-center">Saldo</h4>
        <p class="text-center">$ 2.518</p>
    </div>
    <!-- Mensualidades por Mesa -->
    <div class="mensualidades padding">
        <h4 class="">Mensualidades por Mesa</h4>
        <ul class="">
            {% for mensualidad in socio.mensualidades.all %}
            <li>


                Mesa: {{ mensualidad.mesa.nombre }} - Mes: {{ mensualidad.mes }} - Costo a pagar: {{
                mensualidad.costo_a_pagar }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="botones flex padding">
        <a href="{% url 'socio-update' pk=socio.pk %}"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Editar Socio</a>
        <button onclick="confirmDelete()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Eliminar
            Socio</button>
    </div>
</div>

<script>
    function confirmDelete() {
        var confirmDelete = confirm("¿Estás seguro de que deseas eliminar este socio?");
        if (confirmDelete) {
            window.location.href = "{% url 'socio-delete' pk=socio.pk %}";
        }
    }
</script>
{% endblock %}