{% extends 'base.html' %}

{% block title %}Actualizar Socio{% endblock %}

{% block page_title %}Actualizar Socio{% endblock %}

{% block content %}
<div class="mdl-card mdl-shadow--2dp" style="width: 50%; margin: auto; margin-top: 80px; background-color:#EBEBEB ;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Actualizar Socio</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <form method="post" action="{% url 'socio-update' socio.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Guardar
                cambios</button>
            <a href="{% url 'socio-detail' pk=socio.pk %}"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}