{% extends 'base.html' %}

{% block title %}Crear Mesa{% endblock %}

{% block page_title %}Crear Mesa{% endblock %}

{% block content %}
<div class="mdl-card mdl-shadow--2dp" style="width: 50%; margin: auto; margin-top: 20px; background-color: #EBEBEB;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Crear Mesa</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <form method="post" action="{% url 'mesa_create' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Guardar</button>
            <a href="{% url 'mesa_list' %}"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}